[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[credential]
    helper = osxkeychain
[core]
    editor = vim
[push]
    default = simple
    autoSetupRemote = true
[pull]
    rebase = false
